# Build-time client variables
VITE_APP_ID=
VITE_OAUTH_PORTAL_URL=
VITE_FRONTEND_FORGE_API_KEY=
VITE_FRONTEND_FORGE_API_URL=https://forge.butterfly-effect.dev
VITE_ANALYTICS_ENDPOINT=
VITE_ANALYTICS_WEBSITE_ID=

# Runtime server variables
DATABASE_URL=
JWT_SECRET=
OAUTH_SERVER_URL=
OWNER_OPEN_ID=
BUILT_IN_FORGE_API_URL=
BUILT_IN_FORGE_API_KEY=
ZYTE_API_KEY=
PORT=3000
NODE_ENV=production
